<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="/static/js/htmx.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-targets.js"></script>
    <script type="module" src="/static/js/global.js"></script>
    {% if env == 'dev' %}
        <script type="module" src="http://localhost:3000/static/js/browser-sync-client.js"></script>
    {% endif %}
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link rel="shortcut icon" href="/static/favicon.ico" />
    {% block title %}
        <title>Magic Docs</title>
    {% endblock %}
</head>
<body hx-boost="true">
    <header class="fixed w-full h-14 flex items-center border-b-1 border-base z-10">
        {% include 'header.html' %}
    </header>

    <aside class="fixed top-14 w-52 h-[calc(100dvh-3.5rem)] border-r-1 border-base z-10">
        {% include 'sidebar.html' %}
    </aside>

    <main id="page" class="mt-14 w-[calc(100dvw-13rem)] float-end min-h-[calc(100dvh-3.5rem)]">
        {% block main %}{% endblock %}
    </main>
</body>
</html>
