<nav class="w-full h-full">
    <div class="flex gap-2 items-center justify-between px-2 h-full">
        <div>
            <a
                href="/"
                hx-get="/"
                hx-target="body"
                hx-push-url="true"
                class="flex items-center gap-2 text-xl"
            >
                <img src="/static/img/logo.png" alt="Magic Docs" class="h-12 p-1 rounded-md">
                Magic Docs
            </a>
        </div>
        <p>Hello, {{ user.given_name }}</p>

        <div class="relative flex gap-8 items-center mr-2 h-full">
            <button
                id="nav-user-menu-btn"
                class="font-bold flex gap-1 items-center h-full px-2"
            >
                {{ user.given_name }}
                <div class="w-5 mt-1">
                    {% include 'icons/triangle-down.svg' %}
                </div>
            </button>
            <div class="w-10">
                {% include 'icons/person-circle.svg' %}
            </div>

            <div
                id="nav-user-menu"
                class="hidden absolute right-0 top-12 bg-neutral-100 border-1 border-base rounded-md shadow-md py-2"
            >
                <a href="/profile" class="nav-user-menu-item">Profile</a>
                <a hx-post="/flush" class="nav-user-menu-item">Flush Permissions</a>
                {% if user.is_admin %}
                    <a href="/admin" class="nav-user-menu-item">Manage</a>
                {% endif %}
                <a hx-post="/logout" class="nav-user-menu-item">Logout</a>
            </div>
        </div>
    </div>
</nav>