{% block scripts %}
    {{ super() }}
    <script type="module" src="/static/js/chat.js"></script>
{% endblock %}

<div id="chat-panel" class="-bottom-[calc(24rem-3.5rem)]">
    <div id="chat-header" class="flex justify-between items-center w-full h-14 px-4 bg-[#101010] rounded-t-lg">
        <button id="chat-expand" class="w-6 h-6 rotate-90">
            {% include 'icons/expand.svg' %}
        </button>
        <button id="chat-open" class="h-full">
            <h4>Chat about <b>{{ project.name }}</b></h4>
        </button>
        <div class="w-6 h-6">
            <button id="chat-options" class="w-full hidden">
                {% include 'icons/triangle-down.svg' %}
            </button>
        </div>
    </div>
    <div class="flex justify-center w-full h-[calc(100%-3.5rem)] bg-[#343434] border-1 border-base">
        <div class="flex flex-col w-full h-full pb-2">
            <div id="chat-messages" class="flex flex-col-reverse flex-auto overflow-y-auto">
                <!-- Messages -->
            </div>
            <div class="input-area flex-initial mx-auto w-[calc(100%-16px)] max-w-[700px]">
                <form id="chat-form" action="/projects/{{ project.id }}/v/{{ project_version }}/chat" method="POST">
                    <input type="hidden" name="name" value="{{ user.given_name }}">
                    <textarea
                        id="chat-input"
                        name="message"
                        class="w-full px-4 py-2 bg-[#343434] text-white resize-none rounded-full"
                        placeholder="Type a message..."
                        rows="1"
                    ></textarea>
                </form>
            </div>
        </div>
    </div>
</div>