{% extends 'projects/documents/new/layout.html' %}

{% block scripts %}
    <!-- <link rel="stylesheet" href="/static/css/simplemde.css"> -->
    <!-- <script src="/static/js/simplemde.js"></script> -->
    <script type="module" src="/static/js/editor.js"></script>
{% endblock %}

{% block tab %}
    <div class="relative flex-grow flex flex-col gap-4 p-8">
        {% if document %}
            <h1 class="text-2xl font-bold text-white">{{ document.title }}</h1>
        {% else %}
            <h1 class="text-2xl font-bold text-white">New Document</h1>
        {% endif %}
        <form action="/projects/{{ project.id }}/documents" method="POST">
            <button type="submit" class="absolute top-8 right-8 btn-primary w-fit bg-green-900">Save</button>
            <input
                type="text"
                class="w-full mt-4 p-4 text-white bg-[#181818] border-2 focus:ring-0 focus:border-pink-500/50"
                placeholder="Document Title"
                name="title"
                required
            />

            <textarea name="content" id="textarea" class="hidden" disabled></textarea>
        </form>

        <div id="editor"></div>
    </div>
{% endblock %}